---
import BigLogo from "./BigLogo.astro"
import SUNshoreline from "../assets/MtSun/SUNshoreline.png";
import SUNtreeline from "../assets/MtSun/SUNtreeline.png";
import SUNtreelineCOPY from "../assets/MtSun/SUNtreelineCOPY.png";
import SUNtrees from "../assets/MtSun/SUNtrees.png";
import SUNtreesCOPY from "../assets/MtSun/SUNtreesCOPY.png";
import SUNfield from "../assets/MtSun/SUNfield.png";
import SUNfieldCOPY from "../assets/MtSun/SUNfieldCOPY.png";
import SUNhillsfront from "../assets/MtSun/SUNhillsfront.png";
import SUNhillsfrontCOPY from "../assets/MtSun/SUNhillsfrontCOPY.png";
import SUNhillsback from "../assets/MtSun/SUNhillsback.png";
import SUNhillsbackCOPY from "../assets/MtSun/SUNhillsbackCOPY.png";
import SUNbackground from "../assets/MtSun/SUNbackground.png";
import SUNbackgroundCOPY from "../assets/MtSun/SUNbackgroundCOPY.png";
import SUNnegative from "../assets/MtSun/SUNnegative.png";
import SUNnegativeCOPY from "../assets/MtSun/SUNnegativeCOPY.png";
import SUNbackdrop from "../assets/MtSun/SUNbackdrop.png";
import SUNbackdropCOPY from "../assets/MtSun/SUNbackdropCOPY.png";

---

<div class="flex justify-center h-full w-full" aria-label="Mount hood animated illustration where the mountain is overlooking a forrest and Lost Lake in the foreground">

    

  <div class="fixed h-full w-full bg-fuchsia-300 -z-220">
  </div>

  <!-- <div class="fixed mt-[3vh] md:-mt-[2%] overflow-hidden w-full -z-200">
    <BigLogo>
    </BigLogo>
  </div> -->


  <div class="flex justify-center overflow-hidden absolute w-full h-[200vh] mt-[1vh] md:-mt-[3vh] lg:-mt-[7vh] 2xl:mt-[5vh]">


<!-- SHORELINE -->

    <div id="0.503" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -mb-[25%] -z-30">
        <img src={SUNshoreline.src}>
    </div>



<!-- TREELINE COPY -->


    <div id="0.501" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -z-50">
        <img src={SUNtreelineCOPY.src}>
    </div>



<!-- TREES COPY -->


    <div id="0.701" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -z-60">
        <img src={SUNtreesCOPY.src}>
    </div>



<!-- FIELD COPY -->


    <div id="0.801" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -z-70">
        <img src={SUNfieldCOPY.src}>
    </div>



<!-- HILLS FRONT COPY -->



    <div id="0.851" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -z-80">
        <img src={SUNhillsfrontCOPY.src}>
    </div>




<!-- HILLS BACK COPY -->



    <div id="0.876" class="flex justify-center landscape absolute items-start w-[230vw] lg:w-[215vw] 2xl:w-full h-full -z-90">
        <img src={SUNhillsbackCOPY.src}>
    </div>





  </div> 
  
</div>